#descriptionBox {
    -fx-background-color: rgb(222, 216, 207);
}

#itemName {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-underline: false;
    -fx-text-fill: rgb(9, 9, 8);
}